<app-registration-first-child
  *ngIf="currentState === states.FIRST"
  [firstStepFormGroup]="firstStepForm"
  (nextStepEvent)="changeStep(states.SECOND)">
</app-registration-first-child>

<app-registration-second-child
  *ngIf="currentState === states.SECOND"
  [secondStepFormGroup]="secondStepForm"
  (backStepEvent)="changeStep(states.FIRST)"
  (nextStepEvent)="changeStep(states.THIRD)">
</app-registration-second-child>

<app-registration-third-child
*ngIf="currentState === states.THIRD"
[firstStepFormGroup]="firstStepForm"
(backStepEvent)="changeStep(states.SECOND)"
(formSubmitEvent)="submitForm()"
>

</app-registration-third-child>
