<div class="controlBar">
  <button (click)="changeState()" class="dateButton">
    {{monthsArray[(valueForView.getMonth())].slice(0,3) + ' ' + valueForView.getFullYear()}}
  </button>
  <div class="pageControl">
    <button class="material-icons left" (click)="changePage(-1)">chevron_left</button>
    <button class="material-icons right" (click)="changePage(1)">chevron_right</button>
  </div>
</div>
<div *ngIf="state === 'years'" class="years">
  <button *ngFor="let year of yearsArray"
          [class.today]="today.getFullYear() === year" [class.value]="selectedValue.getFullYear() === year"
          (click)="setValue(year, 'years')">
    {{year}}
  </button>
</div>
<div *ngIf="state === 'months'" class="months">
  <button *ngFor="let month of monthsArray; let i = index"
          [class.today]="today.getMonth() === i" [class.value]="selectedValue.getMonth() === i"
          (click)="setValue(i, 'months')">
    {{month}}
  </button>
</div>
<div *ngIf="state === 'days'" class="days">
  <p *ngFor="let weekDay of weekDaysArray">
    {{weekDay.slice(0,2)}}
  </p>
  <button *ngFor="let day of monthDaysArray"
          [class.value]="selectedValue.getFullYear() === valueForView.getFullYear() &&
          selectedValue.getMonth() === valueForView.getMonth() &&
           selectedValue.getDate() === day" [class.hide]="day <= 0"
          (click)="setValue(day, 'days')"
  >
    {{day}}
  </button>
</div>
