:host{
  display: block;
  width: fit-content;
  height: fit-content;
}
button{
  margin: 2px;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}
button:hover{
  background: #c6c6cd;

}
button.today{
  border: 1px #9292a5 solid;
  background: #efefef;
}
button.value{
  background: #4cbd9e;
  border: none;
}
div.months , div.years{
  display: grid;
  grid-template-areas: 'but but but but';
}
div.months > button, div.years > button{
  width: 100px;
  height: 30px;
  border-radius: 15px;
}

div.controlBar{
  width: 300px;
  display: flex;
  align-items: center;
}
.pageControl{
  display: flex;
}
.pageControl > button{
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}
div.days {
  display: grid;
  grid-template-areas: 'but but but but but but but';
}
.days > button{
  width: 30px;
  height: 30px;
  border-radius: 15px;
}
.days > button.hide{
  visibility: hidden;
}

.dateButton{
  margin: 5px;
  height: 30px;
  border-radius: 15px;
}
div.days > p{
  width: 30px;
  height: 30px;
  margin: 0;
  color: grey;
  text-align: center;
  border-radius: 15px;
}
