:host{
  height: 80%;
  display: flex;
  padding: 40px;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}
form {
  display: flex;

  flex-direction: column;
}

div {
  display: flex;
  margin: 5px;

  flex-direction: column;
}

div.buttons {
  flex-direction: row;
  justify-content: space-around;
}

button {
  width: 60px;
  height: 30px;
}
