 <h1>Check Your Data And Submit</h1>
  <form [formGroup]="firstStepFormGroup" (submit)="formSubmit()">
    <div>
      <label>First Name</label>
      <input formControlName="firstName">
    </div>
    <div>
      <label>Last Name</label>
      <input formControlName="lastName">
    </div>
    <div>
      <label>Age</label>
      <input type="number" formControlName="age" >
    </div>
    <div>
      <label>Email</label>
      <input formControlName="email" >
    </div>
    <div class="buttons">
      <button type="button" (click)="backStep()">Back</button>
      <button type="submit" [disabled]="firstStepFormGroup.invalid">Submit</button>
    </div>
  </form>
