<div>
  <h1>Enter your password</h1>
  <form [formGroup]="secondStepFormGroup" (submit)="submitForm()">
    <div>
      <label>Password</label>
      <input type="password" formControlName="password" (ngModelChange)="changeConfirmPassword()" >
    </div>
    <div>
      <label>Confirm Password</label>
      <input type="password" [value]="confirmPassword" (keyup)="changeConfirmPassword(confirmPasswordInput.value)" #confirmPasswordInput>
    </div>
    <div class="buttons">
      <button (click)="lastStep()">Back</button>
      <button type="submit" [disabled]="secondStepFormGroup.invalid">Submit</button>
    </div>
  </form>
</div>
