:host{
  display: block;
  width: fit-content;
  height: 500px;
  margin: 10px;
}
div{
  position: relative;
  width: fit-content;
}
input{
  height: 50px;
  border: none;
}
button{
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;

  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
button.active{
  color: #287af6;
}
app-calendar-body{
  position: relative;
}
