:host{
  display: block;
  width: fit-content;
  margin: 10px;
}
div{
  position: relative;
  width: fit-content;
}
input {
  height: 50px;
  border: none;
  padding-right: 15px;
  background-color: #e1e1e3;
  border-bottom: 1px #4cbd9e solid;
  text-align: center;
}
button{
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;

  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
button.active{
  color: #4cbd9e;
}
app-calendar-body{
  position: relative;
}
